<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ad0aaf6f-b745-4760-90fe-8f73501b5540/resourcegroups/SevenWonders/providers/Microsoft.Web/sites/SevenWonders</ResourceId>
    <ResourceGroup>SevenWonders</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sevenwonders.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sevenwonders.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SevenWonders</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SevenWonders</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SimpleSevenWonders.Data.WondersContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sevenwondersdbserver.database.windows.net,1433;Initial Catalog=SevenWonders_db;User ID=Chrlol@sevenwondersdbserver;Password=DAller12" Name="Data Source=tcp:sevenwondersdbserver.database.windows.net,1433;Initial Catalog=SevenWonders_db;User Id=Chrlol@sevenwondersdbserver;Password=DAller12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SimpleSevenWonders.Data.WondersContext, SimpleSevenWonders" MigrationConfiguration="SimpleSevenWonders.Migrations.Configuration, SimpleSevenWonders" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SimpleSevenWonders.Data.WondersContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sevenwondersdbserver.database.windows.net,1433;Initial Catalog=SevenWonders_db;User Id=Chrlol@sevenwondersdbserver;Password=DAller12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SimpleSevenWonders.Data.WondersContext" />
  </ItemGroup>
</Project>